# Flutter build output
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
generated_plugin_registrant.dart

# Android/iOS artifacts
*.apk
*.aab
*.ipa

# IDE & editor settings
.vscode/
.idea/
*.iml

# macOS
macos/Flutter/ephemeral/
DerivedData/
xcuserdata/

# Others
*.log
